@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family: 'Pushster', cursive;
}

@layer utilities {
	.linkButton {
		@apply text-3xl flex flex-col items-center justify-center 
		relative text-white hover:text-yellow-500;
	}

	.linkButtonSvg {
		@apply absolute top-1/2;
	}

	.linkButtonP {
		@apply absolute top-1/2 text-lg font-bold opacity-0 text-yellow-500;
	}

	button.linkAnimation:hover p {
		opacity: 1;
		transition: ease-out 1s;
	}

	button.linkAnimation:hover svg {
		opacity: 0;
		transition: ease-out 1s;
	}

	.flipCard {
		perspective: 100px;
	}

	.flipCardBack {
		transform: rotateY(180deg);
	}

	.flipCardInner {
		transition: transform 0.8s;
		transform-style: preserve-3d;
	}

	.flipCard:hover .flipCardInner {
		transform: rotateY(180deg);
	}

	.backfaceInvisible {
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
	}
}
